#mainBody {/* background: url(../images/seperator.png) repeat-x 0 0; */ background-color:#f4f8f6; border-top:2px solid #dedede; padding-top: 18px;}
#carouselBlk,#header{background: url(../images/headerRepeat.png) repeat-x 0 0 #f7f7f7;}
#srchFld {background: url(../images/search.png) no-repeat 4px center #fff;}
.tag {background:url(../images/new.png) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}
.clr{clear:both;}
.cntr{text-align:center}
.marginLess{margin:0}
#logoArea, #logoArea a{line-height:49px;}
#logoArea .btn, #logoArea .btn-group {margin-top: 0;}
#logo {padding-right:28px;}
#welcomeLine{padding: 8px 0 4px}
/* Sidebar--------- */
#myCart  img{float:left; margin-right:8px; }
#myCart .badge {padding: 9px;}
#myCart {font-size: 13px;font-weight: bold; line-height: 33px;}
#sidebar ul ul li a{ font-size:12px;}
#sidebar ul {list-style: none;padding: 0;margin: 0;width: 100%;}
#sidebar  li  a{font-weight:bold; background:url(../images/tabRepeatInactive.png) repeat-x 0 0; color:#262626;}
#sidebar  li>a:hover,#sidebar  li>a:focus,#sidebar  li>a.active {color: #FFF;background: #1FB61E !important;}
#sidebar ul li li a{background:#cde7d7; padding-left:14px;font-weight:normal;display:block;   font-size:13px; line-height:26px;}
/* body--- */
.thumbnail>a{display:block; text-align:center}
.thumbnail h5,.thumbnail p{text-align:center}
/* Product page--- */
.alignR{text-align:right;}
.control-label.alignL, .alignL{text-align:left;}
.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }
.group-footer .field-name-body table, .group-footer .field-name-body th, .group-footer .field-name-body td {border: 1px solid black;}
/* Compair product page */
.checkbox input[type="checkbox"]{ margin:4px 0 8px -20px }
#sm{text-align:right}
#sm a {margin: 4px;width:32px;}
/* Carousel  */
#myCarousel{text-align:center; margin-bottom:0}
#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{display:none;}
#myCarousel.homCar .item img{width:100%; max-height:506px}
#productView .btn-toolbar{padding-left:3px;}
#productDetail > li, .nav-pills > li {float: right;}
#myTabContent{text-align:justify}
#compairTbl td{text-align:center;}
#accordion2, #legalNotice, .justify, 
#mainCol{text-align:justify;
background-color:#afd476;
float: right;
margin-right: 10px;}
#white{background-color: white;
margin-left: 10px;
margin-right: 10px;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;}
#myCarousel .carousel-control{display:none}
#myCarousel:hover .carousel-control{display:block}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color:#fff; background-color: rgb(31, 182, 30);text-shadow: none;}
/* Footer section--------------- */
#footerSection {background: #86C129;color: white;margin-top: 20px;border-top: 1px solid #444;}
#footerSection a{font-size:11px; padding:0; line-height:24px; display:block; }
#footerSection a:hover{color:#fff;  }
#footerSection #block-block-3 p{margin:0px; }
#footerSection  #socialMedia a{ min-width:25px; display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}
/* ===================================================== */
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {	position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 10px; 	color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }	
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}
/* ------------------------------- */
.navbar-search .srchTxt {border-radius: 0;border: 1px solid #444;}
[class^="icon-"], [class*=" icon-"] {background-image: none;}
.navbar .nav > li > a {padding: 10px 20px;color: #000;text-shadow: none;font-size: 18px;}
.navbar .nav > li > a:hover{color:azure;}
#logoArea, #logoArea a{outline:none;}
.alignR .checkbox input[type="checkbox"] {float: right;margin: 4px 0 8px 11px;}

.navbar .nav.pull-right, #sideManu {overflow:hidden;}
#logoArea  #smallScreen {margin: 21px 14px 0 0;}
.navbar-search {margin-top: 8px;}
/* Responsive--------------------- */
/* Large desktop */
@media (min-width: 1200px) {  }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.navbar .brand {float: none;text-align: center;}
#sideManu,#topMenu{height:0}
.navbar-search {margin-top: 8px;width: 100%;float: none;}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
#sideManu,#topMenu{height:0}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.navbar .brand {float: none;text-align: center;}
#header, #carouselBlk{margin: 0 -20px;}
#sideManu,#topMenu{height:0}
.navbar-search {margin-top: 8px;width: 100%;float: none;}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
 }
/* Landscape phones and down */
@media (max-width: 480px) {
#header, #carouselBlk{margin: 0 -20px;}
#sideManu, #topMenu{height:0}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
}

/************* Aumentado para cambiar el menu ******************/
.navbar .nav > li {
	margin-left: 0;
	border-radius: 0px;
	border-left: 1px solid #158415;
	border-bottom: 1px solid #158415;
	border-top: 1px solid #158415;
	background: url("../images/headerRepeat.png") repeat-x scroll 0px 0px #F7F7F7;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar .nav > li:hover, .navbar .nav > li > .active{
	background: #1FB61E !important;
}
#footerSection .span333 #block-block-3 a {
  display:inline;
  font-size:1.3em;
}

.page-node-102>#mainBody>.container>.row>#mainCol{
	background-color: #fff;
}
.page-node-102>#mainBody>.container>.row>#mainCol>#white>.region.region-content>section.block{
	border: 2px solid #AFD476;
	border-radius: 8px;
	border-left: 10px solid #AFD476;
	padding: 10px 20px;
	margin-bottom: 15px;
	transition: all 0.4s;
}
.page-node-102>#mainBody>.container>.row>#mainCol>#white>.region.region-content>section.block:hover{
	background: #AFD476;
}
.page-node-102>#mainBody>.container>.row>#mainCol>#white>.region.region-content>section.block>h2{
	text-align: center;
	border-bottom: 1px solid #AFD476;
}
.page-node-102>#mainBody>.container>.row>#mainCol>#white>.region.region-content>section.block:hover h2{
	border-bottom: 1px solid black;
}
.page-node-102 .field-name-body h2 {
  border-bottom: 1px solid #AFD476;
}
#sidebar{
	width: 20%;
}
#mainBody>.container>.row>#mainCol>#white>.region.region-content>#block-system-main>li.span3{
	width: 29%;
}

.node-type-producto .field-name-field-enlace-pdf{
  margin-top: 10px;
}
.node-type-producto .field-name-field-enlace-pdf a {
  background: url(../images/tabRepeatInactive.png) repeat-x 0 0;
  padding: 8px 20px;
  text-decoration: none;
  color: #262626;
}
.node-type-producto .field-name-field-enlace-pdf a:hover {
  background: #1FB61E !important;
  color: #FFF;
}
.sharethis-buttons .st-facebook-counter{
  height: 20px !important;
}
.sharethis-buttons .st-twitter-counter{
  height: 20px !important;
}
.sharethis-buttons .st-email-counter {
  height: 20px !important;
}
